In [8]:
import pandas as pd
df=pd.read_csv("gapminder.csv")

In [9]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [10]:
y=df["fertility"]                #Target Variable

In [11]:
X=df.drop("fertility", axis=1)

In [12]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [13]:
X.isna().sum()                 #Check for Null values if any. None in this Dataset.

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [14]:
X.dtypes             # 1 Datatype is object. As we need all numeric in nature, it needs to be converted into 1 hot encoding.

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [15]:
X=pd.get_dummies(X,columns=["Region"],drop_first=True)

In [16]:
X.dtypes               # Posst 1 Hot encoding, all values are numeric in nature now.

population                           float64
HIV                                  float64
CO2                                  float64
BMI_male                             float64
GDP                                  float64
BMI_female                           float64
life                                 float64
child_mortality                      float64
Region_East Asia & Pacific             uint8
Region_Europe & Central Asia           uint8
Region_Middle East & North Africa      uint8
Region_South Asia                      uint8
Region_Sub-Saharan Africa              uint8
dtype: object

In [17]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
X.shape

(139, 13)

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [21]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [23]:
from sklearn.linear_model import LinearRegression         # Importing a Linear Regression Model.
model=LinearRegression()

In [24]:
model.fit(X_train, y_train)

LinearRegression()

In [25]:
model.coef_

array([-0.2620466 , -2.03656329, -0.84230048, -0.78556314,  1.07174263,
       -0.69273696, -1.78836659,  2.34239907, -0.7049416 , -0.49192478,
        0.18402261, -0.63641518,  1.37970022])

In [26]:
model.score(X_test,y_test)

0.9075941812640013

In [27]:
model.score(X_train,y_train)        # Training and Test Accuracy is very close, so this model is the best fit.

0.883565903904834

In [34]:
model.intercept_

4.386782052676404

In [48]:
data_scaled=scaler.transform(X)
model.predict(data_scaled)

array([2.58740918, 6.67089588, 2.35221113, 1.7443981 , 1.33932113,
       1.60999676, 2.26747763, 2.22783192, 2.90773179, 2.11805842,
       1.71332431, 1.68558286, 2.48570558, 5.52195285, 2.7489898 ,
       3.20458852, 3.00943619, 2.29874853, 1.67779131, 5.9735451 ,
       5.44219413, 3.23534231, 5.47487256, 2.0840378 , 6.58176033,
       1.95216591, 2.47818796, 5.30228941, 5.04260741, 2.16185537,
       5.61155778, 1.42408562, 2.18862377, 1.92364784, 3.83775531,
       2.61152609, 2.81122914, 2.57092823, 5.59440377, 5.33989025,
       1.40721283, 2.02251175, 1.47554715, 1.7373503 , 4.81331976,
       5.2593469 , 1.82176677, 1.43460507, 5.0888405 , 1.62488687,
       2.97218403, 5.70645444, 6.18956879, 3.33210029, 3.82796588,
       2.75173281, 1.5939983 , 1.6792725 , 2.31183668, 2.27912439,
       2.44920128, 1.52853739, 2.17472146, 1.48609247, 2.35875953,
       1.47235668, 2.06018816, 4.70470031, 1.71311986, 2.12902236,
       4.55309482, 5.41590843, 1.64685594, 1.75370841, 4.96980544,
       4.95816675, 1.67208849, 1.90114038, 6.44661965, 1.38814227,
       5.38925706, 3.65868716, 2.2177696 , 2.03500071, 2.30399778,
       2.78059962, 4.87662075, 3.61314107, 2.85371139, 1.75300914,
       1.44872183, 2.53451087, 5.94312256, 5.50295148, 1.61961626,
       2.48751394, 3.34563744, 2.34515619, 3.30220999, 2.61334474,
       2.65163617, 2.45066792, 1.41327359, 1.39977813, 2.11986968,
       1.84773396, 1.77293746, 4.74936676, 5.05146606, 1.37651308,
       6.42630265, 2.00848367, 1.54008232, 1.26115599, 6.51835476,
       3.36234879, 1.4637938 , 2.07842664, 4.96522195, 2.7342844 ,
       4.1594388 , 1.67845021, 1.88882104, 2.5734507 , 4.72051257,
       1.99541825, 5.28979792, 2.14425878, 2.42292952, 1.86455845,
       4.86403712, 1.71253252, 1.48075492, 1.88342635, 2.26046039,
       2.54548289, 2.23605142, 4.86951988, 4.79686627])